{% extends 'base.html' %}

{% block title %}Restaurant - Calicut Guide{% endblock %}

{% block content %}
<div class="page-title">Restaurant Dashboard</div>

<div class="card-grid">
    <a href="#" style="text-decoration: none; color: inherit;">
        <div class="stat-card">
            <div class="stat-icon" style="background: rgba(99, 102, 241, 0.2);"><i class="fa-solid fa-folder-open"></i></div>
            <div class="stat-details">
                <h3 style="text-transform: capitalize;">Add Restaurant</h3>
                <p>Manage Add Restaurant records</p>
            </div>
        </div>
    </a>
    <a href="#" style="text-decoration: none; color: inherit;">
        <div class="stat-card">
            <div class="stat-icon" style="background: rgba(99, 102, 241, 0.2);"><i class="fa-solid fa-folder-open"></i></div>
            <div class="stat-details">
                <h3 style="text-transform: capitalize;">View Restaurant</h3>
                <p>Manage View Restaurant records</p>
            </div>
        </div>
    </a>
</div>
{% endblock %}
