{% extends 'base.html' %}

{% block title %}Education - Calicut Guide{% endblock %}

{% block content %}
<div class="page-title">Education Dashboard</div>

<div class="card-grid">
    <a href="/education" style="text-decoration: none; color: inherit;">
        <div class="stat-card">
            <div class="stat-icon" style="background: rgba(99, 102, 241, 0.2);"><i class="fa-solid fa-folder-open"></i></div>
            <div class="stat-details">
                <h3 style="text-transform: capitalize;">Add Institution</h3>
                <p>Manage Add Institution records</p>
            </div>
        </div>
    </a>
    <a href="/education" style="text-decoration: none; color: inherit;">
        <div class="stat-card">
            <div class="stat-icon" style="background: rgba(99, 102, 241, 0.2);"><i class="fa-solid fa-folder-open"></i></div>
            <div class="stat-details">
                <h3 style="text-transform: capitalize;">view Institution</h3>
                <p>Manage view Institution records</p>
            </div>
        </div>
    </a>
</div>
{% endblock %}
