{% extends 'base.html' %}

{% block title %}Shop - Calicut Guide{% endblock %}

{% block content %}
<div class="page-title">Shop Dashboard</div>

<div class="card-grid">
    <a href="add_shop_page" style="text-decoration: none; color: inherit;">
        <div class="stat-card">
            <div class="stat-icon" style="background: rgba(99, 102, 241, 0.2);"><i class="fa-solid fa-folder-open"></i></div>
            <div class="stat-details">
                <h3 style="text-transform: capitalize;">add shop</h3>
                <p>Manage add shop records</p>
            </div>
        </div>
    </a>
</div>
{% endblock %}
