{% extends 'base.html' %}
{% block title %}Change Imgresroom - Calicut Guide{% endblock %}

{% block content %}
<div class="page-title">Change Imgresroom</div>
<div class="glass-panel">


      <form enctype="multipart/form-data" action="update_imgroom" method="post">
        <div class="table-wrapper"><table class="modern-table">
  <tbody>
    <tr>
      <th scope="row">change image</th>
      <td><input class="form-control" type="file" name="image" id="fileField"></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="submit" id="submit" value="Update" class="btn btn-primary" style="margin-top:1rem;"></th>
    </tr>
  </tbody>
</table></div>
      </form>


</div>
{% endblock %}
