{% extends 'base.html' %}
{% block title %}Update Mall - Calicut Guide{% endblock %}

{% block content %}
<div class="page-title">Update Mall</div>
<div class="glass-panel">

<form action="update_mall" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <div class="table-wrapper"><table class="modern-table">
    <tbody>
      <tr>
        <th width="101" scope="row">Name</th>
        <td width="410"><input class="form-control" type="text" name="name" id="textfield3" value="{{value[1]}}"></td>
      </tr>
      <tr>
        <th scope="row">Place</th>
        <td><input class="form-control" type="text" name="place" id="textfield2" value="{{value[2]}}"></td>
      </tr>
      <tr>
        <th scope="row">Post</th>
        <td><input class="form-control" type="text" name="post" id="textfield" value="{{value[3]}}"></td>
      </tr>
      <tr>
        <th scope="row">Contact</th>
        <td><input class="form-control" type="text" name="contact" id="tel" maxlength="20" value="{{ value[4] }}"></td>
      </tr>
      <tr>
        <th scope="row">Facility</th>
        <td><input class="form-control" type="checkbox" name="facilities" id="checkbox" value="play station" checked>
          Play station
            <input class="form-control" type="checkbox" name="facilities" id="checkbox2" value="food court">
            Food Court
            <input class="form-control" type="checkbox" name="facilities" id="checkbox3" value="Theatre">
            Theatre
            <input class="form-control" type="checkbox" name="facilities" id="checkbox4" value="Hyper market">
            Hyper market</td>
      </tr>
      <tr>
        <th scope="row">Opening Time</th>
        <td><input class="form-control" type="text" name="opens" id="textfield4" value="{{value[6]}}"></td>
      </tr>
      <tr>
        <th scope="row">Closing Time</th>
        <td><input class="form-control" type="text" name="closes" id="textfield5" value="{{value[7]}}"></td>
      </tr>
      <tr>
        <th height="46" scope="row">Images</th>
        <td><p>
            <img src="/static/image/{{value[8]}}", height="50" width="50">
			    <a href="change_images">change_image</a></td>
        </p></td>
      </tr>
      <tr>
        <th colspan="2" scope="row"><input type="submit" name="submit" id="submit" value="update" class="btn btn-primary" style="margin-top:1rem;"></th>
      </tr>
    </tbody>
  </table></div>
</form>

</div>
{% endblock %}
