{% extends 'base.html' %}
{% block title %}Add View Restaurant - Calicut Guide{% endblock %}

{% block content %}
<div class="page-title">Add View Restaurant</div>
<div class="glass-panel">

<form enctype="multipart/form-data" action="reg_restaurant" method="post">
  <div class="table-wrapper"><table class="modern-table">
  <tbody>
    <tr>
      <th scope="row">Hotel/Restaurant Name</th>
      <td><input class="form-control" type="text" name="hotel_name" id="textfield7"></td>
    </tr>
    <tr>
      <th scope="row">Place</th>
      <td><input class="form-control" type="text" name="place" id="textfield6"></td>
    </tr>
    <tr>
      <th scope="row">Post</th>
      <td><input class="form-control" type="text" name="post" id="textfield5"></td>
    </tr>
    <tr>
      <th scope="row">Nearby</th>
      <td><input class="form-control" type="text" name="nearby" id="textfield4"></td>
    </tr>
    <tr>
      <th scope="row">Contact</th>
      <td><input class="form-control" type="text" name="contact" id="tel" maxlength="20" placeholder="e.g. 0495 272 0011"></td>
    </tr>
    <tr>
      <th scope="row">Latitude</th>
      <td><input class="form-control" type="text" name="latitude" id="textfield3"></td>
    </tr>
    <tr>
      <th scope="row">Longitude</th>
      <td><input class="form-control" type="text" name="longitude" id="textfield2"></td>
    </tr>
    <tr>
      <th scope="row">Username</th>
      <td><input class="form-control" type="text" name="username" id="textfield"></td>
    </tr>
    <tr>
      <th scope="row">Password</th>
      <td><input class="form-control" type="password" name="password" id="password"></td>
    </tr>
    <tr>
      <th scope="row">Images</th>
      <td><input class="form-control" type="file" name="images" id="fileField"></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="submit" id="submit" value="Submit" class="btn btn-primary" style="margin-top:1rem;"></th>
      </tr>
  </tbody>
</table></div>
	<br>
	<br>
	<br>
	<div class="table-wrapper"><table class="modern-table">
  <tbody>
    <tr>
      <th width="114" scope="row">Hotl/Restaurant Name</th>
      <td width="35">Place</td>
      <td width="27">Post</td>
      <td width="46">Nearby</td>
      <td width="48">Contact</td>
      <td width="51">Latitude</td>
      <td width="62">Longitude</td>
      <td width="44">Images</td>
      <td width="4">&nbsp;</td>
      <td width="8">&nbsp;</td>
      </tr>
     {%for i in value%}
    <tr>
      <th scope="row">&nbsp;{{i[1]}}</th>
      <td>&nbsp;{{i[2]}}</td>
      <td>&nbsp;{{i[3]}}</td>
      <td>&nbsp;{{i[4]}}</td>
      <td>&nbsp;{{i[5]}}</td>
      <td>&nbsp;{{i[6]}}</td>
      <td>&nbsp;{{i[7]}}</td>
      <td>&nbsp;<img src="/static/image/{{i[8]}}" , height="60"  width="60"></td>
      <td><a href="edit_restaurant?id={{i[0]}}">edit</a></td>
      <td><a href="del_restaurant?id={{i[0]}}">delete</a></td>
      </tr>
    {%endfor%}
  </tbody>
</table></div>
</form>

</div>
{% endblock %}
