{% extends 'base.html' %}
{% block title %}Hospital Facilities - Calicut Guide{% endblock %}

{% block content %}
<div class="page-title">Hospital Facilities</div>
<div class="glass-panel">

<form id="form1" name="form1" action="add_hospital_facility" method="post">
  <div class="table-wrapper"><table class="modern-table">
    <tbody>
      <tr>
        <th height="40" scope="row">Facility</th>
        <td><textarea class="form-control" name="facility" id="textarea2"></textarea></td>
      </tr>
      <tr>
        <th scope="row">Description</th>
        <td><textarea class="form-control" name="description" id="textarea"></textarea></td>
      </tr>
      <tr>
        <th colspan="2" scope="row"><input type="submit" name="submit" id="submit" value="Submit" class="btn btn-primary" style="margin-top:1rem;"></th>
      </tr>
    </tbody>
  </table></div>
  <p>&nbsp;</p>
  <div class="table-wrapper"><table class="modern-table">
    <tbody>
      <tr>
        <th scope="row">Facility</th>
        <td>Description</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>

      {% for  i in value %}
      <tr>
        <th scope="row">&nbsp;{{i[1]}}</th>
        <td>&nbsp;{{i[2]}}</td>
        <td><a href="edit_hospital_facility?facility_id={{i[0]}}">edit</a></td>
        <td><a href="del_hospital_facility?facility_id={{i[0]}}">delete</a></td>
      </tr>
    {%endfor%}
    </tbody>
  </table></div>
  <p>&nbsp;</p>
</form>

</div>
{% endblock %}
